@import "./assets/css/reset.css";
@import "./assets/css/grid.css";

* {
    box-sizing: border-box;
}

:root {
    --main-text-color: #2d3033;
    --text-color: #6c7279;
    --background-color: #ffffff;
    --accent-color: #e84545;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.feature-section {
    padding: 80px 0;
}

.feature {
    max-width: 300px;
    padding: 20px;
    overflow: hidden;
    border-radius: 6px;
    text-align: center;
    background-color: var(--background-color);
    margin: 20px auto;
}

.feature-icon {
    display: inline-block;
    height: 60px;
    margin-bottom: 20px;
    color: var(--accent-color);
}

.feature-title {
    --line-height-value: 1.1em;
    height: var(--line-height-value);
    max-width: 100%;
    margin: 10px 0;
    overflow: hidden;
    font-weight: 700;
    font-size: 1rem;
    line-height: var(--line-height-value);
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--main-text-color);
}

.feature-icon:empty {
    width: 60px;
    border: 6px solid;
    border-radius: 10%;
}

.feature-title:empty::before {
    content: 'Feature title';
}

.feature-description {

    --lines-count: 3;
    --line-height-value: 1.6em;

    display: -webkit-box;
    -webkit-line-clamp: var(--lines-count);
    -webkit-box-orient: vertical;
    overflow: hidden;

    min-height: calc(var(--line-height-value) * var(--lines-count));
    max-height: calc(var(--line-height-value) * var(--lines-count));

    margin-bottom: 10px;
    font-size: 1rem;
    line-height: var(--line-height-value);
    color: var(--text-color);
    text-overflow: ellipsis;
}